*, *::after, *::before {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;

    background-color: #fafafa;
}

:root {
    --inp-border-color: #bebebe;
    --tr-hover-color: #80b7ff56;
    --tr-active-color: #80b7ffd3;
    --main-color: #1a73e8;
    --disable-color: #484848;
    --hover-color: #1464ce;
}

.wrapper {
    display: grid;

    justify-content: center;
    align-items: center;
}

.container {
    min-width: 960px;
    max-width: 960px;
}

/*! top section */

.top-body {
    display: grid;
    grid-template-columns: 27rem minmax(40%, 100%);

    grid-column-gap: 2rem;

    margin: 2rem 0;
}

/* ? Target value */

.target {
    width: 100%;

    border: 1px solid #bebebe;
    border-radius: .5rem;
}
.target-top {
    line-height: 3rem;
    text-align: center;

    font-weight: bold;

    color: white;

    background-color: var(--main-color);

    border-radius: .5rem .5rem 0 0;
}

.target-body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.target-value {
    padding: 1rem;

    border-radius: .5rem;
    border: 1px solid #bebebe;

    width: 100%;

    margin-bottom: 1rem;
}
.target-grid {
    display: grid;
    grid-template-columns: repeat(4, 5rem);

    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    text-align: start;

    align-items: center;
    justify-content: center;

    margin-bottom: 1rem;;
}
.target-input {
    width: 5rem;
    height: 2rem;

    padding: 0 .5rem;

    font-size: 1rem;

    border-radius: .5rem;   
    border: 1px solid var(--inp-border-color);

    outline: none;
}
.target-input:disabled {
    cursor: not-allowed;
}
.target-input:focus {
    outline: none;
    border-color: var(--main-color);
}
.sum-btn {
    width: 100% !important;

    margin-bottom: 1rem;
}

.daily-sum {
    width: 100%;

    border: 1px solid var(--inp-border-color);
    border-radius: .5rem;

    padding: .5rem 1rem;
}

/*? Daily ration */
.daily-ration {
    border: 1px solid var(--inp-border-color);

    border-radius: .5rem;
}

.daily-header {
    line-height: 3rem;
    background-color: var(--main-color);

    color: white;

    font-weight: bold;
    text-align: center;

    border-radius: .5rem .5rem 0 0;
}

.daily-table {
    width: 100%;
    border-collapse: collapse;
}

.daily-table thead {
    border-bottom: 1px solid var(--inp-border-color);
}

.daily-table thead th{
    line-height: 2.5rem;
    color: #303030;
}

.daily-ration tr td {
    padding: .4rem;

    text-align: center;

    border-bottom: 1px solid var(--inp-border-color);
}

.daily-btn {
    cursor: pointer;

    width: 90%;

    padding: .4rem;

    outline: none;
    border: none;
    border-radius: .5rem;

    background-color: var(--main-color);
    color: white;

    transition: .2s ease-in-out;
}
.daily-btn:hover {
    background-color: var(--hover-color);
}

/*! food list frame */
.food-list {
    padding: 1rem;

    border: 1px solid var(--inp-border-color);
    border-radius: .5rem;
}

.food-input-body {
    display: grid;
    grid-template-columns: repeat(3, 19rem);

    margin-bottom: 2rem;

    justify-content: space-between;
}

.food-select {
    cursor: pointer;

    width: 19rem;
    height: 2rem;

    padding: 0 .5rem;

    font-size: 1rem;

    border-radius: .5rem;
    border: 1px solid var(--inp-border-color);
}

.food-select:disabled {
    cursor: not-allowed;
}

.food-input {
    cursor: text;

    width: 19rem;
    height: 2rem;

    padding: 0 .5rem;

    font-size: 1rem;

    border-radius: .5rem;   
    border: 1px solid var(--inp-border-color);

    outline: none;
}

.food-input:disabled {
    cursor: not-allowed;
}

.food-input:focus {
    outline: none;
    border-color: var(--main-color);
}


/*? second frame */
.food-main-body {
    display: grid;
    grid-template-columns: 18rem 22rem 18rem;

    align-items: center;

    justify-content: space-between;
}

.add-btn {
    min-width: 22rem;
    min-height: 3rem;

    color: white;
    font-size: 1.2rem;
    font-weight: bold;

    border: none;
    border-radius: .5rem;

    background-color: var(--main-color);
    transition: .4s ease-in-out;
}

.add-btn:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.add-btn:focus {
    outline: none;
    background-color: var(--hover-color);
}

.add-btn:disabled {
    cursor: not-allowed;
    background-color: var(--disable-color);
    transition: .4s ease-in-out;
}

.final-sum {
    align-self: center;

    line-height: 3rem;
    justify-self: start;

    padding: 0 1rem;

    border: 1px solid var(--main-color);
    border-radius: .5rem;
}

/** MAIN-TABLE */
.table-section {
    width: 100%;
    min-height: 6rem;
    

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-left: 1px solid var(--inp-border-color);
    border-right: 1px solid var(--inp-border-color);
}

/*! TABLE */
.table {
    width: 100%;
    border-collapse: collapse;
}

/*? Table heade */
.table thead {
    display: table-food-group;
    vertical-align: middle;
    border-color: inherit;
}

.table th {
    width: 30%;
    height: 3rem;

    background-color: var(--main-color);

    padding: .5rem 1rem;

    color: white;
}

.table th:not(:last-child) {
    border-right: 1px solid var(--hover-color);
}

/*? Table rows */

.table td {
    height: 3rem;

    padding: .5rem 1rem;
    text-align: center;

    transition: .2s ease-in-out;
}

.table td:not(:last-child) {
    border-right: 1px solid var(--inp-border-color);
}

.table tr {
    border-bottom: 1px solid var(--inp-border-color);
    cursor: pointer;
}

.table tr:hover td{
    background-color: var(--tr-hover-color);
}
.table tr:active td{
    background-color: var(--tr-active-color);
}